<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  </head>

  <body>

    <form id="change-hashtag-form">
      <input type='text' name='hashtag' class='form-box'>
      <input type='submit'>
    </form>

<!-- load javascripts at end of document for faster page load -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type = "text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
