/*
Map
*/

.map {
  position: absolute;
  bottom: -50%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/*
Forms
*/

.modal form {
  position: fixed;
  top: 45%;
  width: 100%;
}

.form-field {
  padding: .5em;
  border-radius: .5em;
  border: none;
  color: #152040;
  text-align: center;
  font-size: 1.5em;
  font-family: inherit;
}

.form-field:hover,
.form-field:focus,
.form-field:active {
  outline: none;
  border: none;
}

input {
  z-index: 99;
}

.change-hashtag-form {
	color: white;
}

.change-hashtag-form li {
	display: inline-block;
	margin: -.5em;
}

.hashtag-field {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.hashtag-submit {
	background-color: #f60;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*
Messages
*/

/*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*//*============================*/
.msg {
  width: 100%;
  text-align: center;
}

/*.message-modal {
  position: absolute;
  background-image: url('/images/patriot.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.message {
  position: relative;
  text-align: center;
  top: 40%;
  width: 55%;
  padding: 1em;
  margin: 0 auto;
}*/

/*General brand image*/

/*a{
	text-decoration: none;
	font-family: Helvetica;
	color: #fa6;
	line-height: 2;
	size: 1.5em;
}

p{
	font-family: Helvetica;
}*/


/*Search Functionality*/

/*#search-tweets-div{
	border: solid;
	border-color: #282828;
	border-width: 1px;
	background-color: #444;
	text-align: center;
}
*/
/*#search-box-itself{
	width: 20em;
	margin-right:1em;
	border-radius: 5px;
	height: 1.5em;
	background-color: #fa6;
	border-width: 0px;
	color: white;
	font-size: 1.5em;
}*/
/*

#search-box-itself:focus{
	outline: none;
}

#search-box-text{
	color:white;
	font-family: Helvetica;
	font-size: 1.5em;
	letter-spacing: .07em;
	padding-right: .5em;

}
*/
/*Modal form stuff */

/*#modal{
	height: 200em;
	width: 100%;
	background-color: black;
	opacity: .8;
	border: dotted;
	z-index: 1;
}*/

/*#button{
	width: 14em;
}*/

/*#form-box{
	width: 20em;
	margin-right:1em;
}

#form-box:focus{
	border-color: #fa6;
}
*/