
/*
Map
*/

.map {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  z-index: -1;
}


/*General brand image*/

body{
	/*border: dotted;*/
}

a{
	text-decoration: none;
	font-family: Helvetica;
	color: #fa6;
	line-height: 2;
	size: 1.5em;
}

p{
	font-family: Helvetica;
}


/*Search Functionality*/

#search-tweets-div{
	border: solid;
	border-color: #282828;
	border-width: 1px;
	background-color: #444;
	text-align: center;
}

#search-box-itself{
	width: 20em;
	margin-right:1em;
	border-radius: 5px;
	height: 1.5em;
	background-color: #fa6;
	border-width: 0px;
	color: white;
	font-size: 1.5em;
	/*border: dotted;*/
}


#search-box-itself:focus{
	outline: none;
}

#search-box-text{
	color:white;
	font-family: Helvetica;
	font-size: 1.5em;
	letter-spacing: .07em;
	padding-right: .5em;

}

/*Modal form stuff */

#modal{
	height: 200em;
	width: 100%;
	background-color: black;
	opacity: .8;
	border: dotted;
	z-index: 1;
	display: none;
}

#change-hashtag-form{
	color: white;
	/*border: dotted;*/
	width:40%;
	/*display:none;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 20em;

}

#button{
	background-color: #f60;
	width: 14em;
	/*z-index: 2;*/
}

#form-box{
	width: 20em;
	margin-right:1em;
}

#form-box:focus{
	border-color: #fa6;
}

#change-hashtag-form li{
	display: inline-block;
}

#banner{
	height: 8em;
}

#banner-div{
	background-color: #444;
}

/*#0cf', '#6f6', '#c3f*/
/*#468', '#363', '#606'*/